<h1 *ngIf="userName!=''">Hello, {{userName}} Welcome to Large Exporter</h1>
<div class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
    @for(machine of machinary;track machine){
        <div class="col-12">
            <div class="card">
                <img class="card-img-top" src="{{machine?.image}}" alt="Card image cap" width="100px" height="300px">
                <div class="card-body">
                  <h5 class="card-title">{{machine?.title}}</h5>
                  <p class="card-text">{{machine?.discription}}</p>
                  <button type="button" class="btn px-2" (click)="onClickMachine(machine?.id)">View</button>
                </div>
              </div>
        </div>
    }
</div>